@media (max-width: 450px) {
    .base-card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 33px;
    }
} 

@media only screen and (max-device-width: 480px) {
    .green-btn {
        background-color: $green;
        color: $dark-blue;
    }
}
    


