@import '_constants';
@import '_mixins';

// base

*::-webkit-scrollbar {
    width: 10px ;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: $light-gray;
}

*::-webkit-scrollbar-thumb {
    background-color: $dark-blue;
    border-radius: 2px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.section__outer {
    overflow: hidden;
    padding: 0 20px;
}

.section__inner {
    max-width: 1276px;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: 17px;
    align-items: center
}

.more_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $green;
    &:hover {
        opacity: 0.6;
    }
}

.base-card {
    width: 393px;
}

.green-btn {
    border: 2px solid $green;
    border-radius: 4px;
    padding: 16px 24px;
    color: $light-gray;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    background: linear-gradient(45deg, $green 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background-position 0.3s ease-in-out;
    @media (hover: hover), (-ms-high-contrast:none) { 
        &:active {
            background: $green;
        }
        &:hover {
            background-position: 0;
            color: $dark-blue;
        }
    }
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 44px;
    position: relative;
    padding-bottom: 17px;

    &:after {
        content: '';
        height: 2px;
        position: absolute;
        width: 150px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: $green;
    }
}

h3 {
    font-size: 24px;
}

p {
    font-size: 22px;
}

// blocks

@import 'blocks/_header';
@import 'blocks/_intro';
@import 'blocks/_feautures';
@import 'blocks/_contact';
@import 'blocks/_workshops';
@import 'blocks/_about';
@import 'blocks/_feedback';
@import 'blocks/_articles';
@import 'blocks/_footer';

//media

@import'_media'