#slider_bl .wrapper {
    width: 100%;
    position:relative
}

#slider_bl input {
    display:none
}

#slider_bl .inner {
    width:500%;
    line-height:0
}

#slider_bl article  {
    width:20%;
    float:left;
    position:relative
}

#slider_bl .slider-dot-control  {
    position:absolute;
    width:100%;
    bottom: -40px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#slider_bl .slider-dot-control label {
    cursor: pointer;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: $dark-blue;
    opacity: 40%;
    transition: all .3s
}

#slider_bl .slider-dot-control label:hover {
    opacity: 1;
}

#slider_bl .slider-wrapper {
    width:100%;
    overflow:hidden;
}

#slider_bl .slider-wrapper .inner {
    transform:translateZ(0);
    transition:all .8s cubic-bezier(.77,0,.175,1)
}

#slider_bl #slide1:checked ~ .slider-dot-control label:nth-child(1), #slider_bl #slide2:checked~.slider-dot-control label:nth-child(2) {
    opacity: 1;
}

#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info {
    opacity:1
}

#slider_bl #slide1:checked~.slider-wrapper .inner {
    margin-left:0
}

#slider_bl #slide2:checked~.slider-wrapper .inner {
    margin-left:-100%
}
