@import '../_constants';
@import '../_mixins';

.about {
    background-color: $dark-blue;
    color: $light-gray;
    padding-top: 144px;
    padding-bottom: 142px;

    .section__inner {  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px; 
    }
}

.about__decor-container {
    position: relative;
    width: 614px;
    height: 534px;
    flex-shrink: 0;
}

.about__decor {
    position: absolute;
}

.about__decor--1 {
    top: 0;
    left: 0;
    z-index: 3;
}

.about__decor--2 {
    right: 32px;
    bottom: -56px;
    z-index: 0;
}

.about__decor--3 {
    top: -35px;
    left: 67px;
    z-index: 5;
}

.about__decor--4 {
    top: 9px;
    left: -16px;
    z-index: 4;
}

.about__decor--5 {
    bottom: -33px;
    left: 75px;
    z-index: 1;
}

.about__content {
    padding-top: 120px;
}

.about__content_title {
    margin-bottom: 50px;
    &:after {
        left: 0;
        transform: none;
    }
}

.about__content_text {
    margin-bottom: 46px;
    max-width: 548px;
}

@media (max-width: 785px) { 
    .about__decor-container {
        scale: .8;
    }
}

@media (max-width: 520px) {
    
    .about__decor-container {
        scale: .6;
    }
 }
