@import '../_constants';
@import '../_mixins';

.articles {
    padding-top: 144px;
    padding-bottom: 280px;
    background-color: $light-gray;
    position: relative;
    overflow: visible;

    .section__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.articles_title {
    margin-bottom: 50px;
    color: $dark-blue;
}

.articles_text {
    margin-bottom: 46px;
    color: $pale-blue;
}

.articles_btn {
    margin-bottom: 80px;
}

.articles__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 48px;
}

.articles__item-content {
    background-color: #fff;
    padding: 24px 22px;
    padding-bottom: 33px;
}

.articles__item_image {
    width: 100%;
    height: 197px;
    object-fit: cover;
}

.articles__item_date {
    padding-bottom: 22px;
    font-size: 17px;
    line-height: 27px;
    color: #4E4E65;
}

.articles__item_text {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    color: #1C1C33;
}

.articles_btn {
    color: $dark-blue;
}

.articles__item_author {
    font-size: 17px;
    line-height: 27px;
    color: #4E4E65;
}

.email__form {
    background-color: $green;
    position: absolute;
    @include flex_center();
    flex-direction: column;
    gap: 57px;
    padding: 40px;
    width: 70%;
    min-height: 347px;
    bottom: -172px;
}

.email__form_title {
    color: $dark-blue;
}

.email__form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.email__form_input {
    width: 400px;
    border-radius: 4px;
    border: 1px solid $dark-blue;
    height: 64px;
    padding-left: 19px;
    font-size: 20px;
    font-weight: 700;
    color: #1C1C33;
    &::placeholder {
        line-height: 53px;
        color: #1C1C33;
    }
}

.email__form_btn {
    background-color: $dark-blue;
    color: $green;
    border-radius: 4px;
    padding: 16px 24px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #57D9A6;
}

@media (max-width: 875px) {
    .email__form {
        width: 90%;
    }
    .email__form_btn, .email__form_input {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .email__form {
        bottom: -250px;
    }
}
