@import '../_constants';
@import '../_mixins';

// components

@import '../components/_slider';

.feedback {
    background-color: $green;
    padding-top: 82px;
    padding-bottom: 92px;
    min-height: 506px;

    .section__inner {
        text-align: center;
    }
}

.feedback__starts {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding-bottom: 45px;
}

.feedback_quote {
    color: $dark-blue;
    max-width: 1006px;
    margin: 0 auto;
    margin-bottom: 37px;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #1C1C33;
}

.feedback_author {
    color: $pale-blue;
    margin-bottom: 40px;
}