@import '../_constants';
@import '../_mixins';

.header__top {
    height: 43px;
    background-color: $green;
    text-align: center;
    line-height: 43px;
    color: $dark-blue;

    .section__inner {
        height: 100%;
        padding: 0 50px;
    }
}
.header__bottom {
    color: #fff;
    background-color: $dark-blue;

    .section__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 105px;
        padding: 0 50px;
    }
}

.header__nav-list, .nav__mobile-list  {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    a {
        font-size: 18px;
    }
}

.header__nav a {
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

.nav__mobile {
    display: none;
    width: 100%;

    a {
        font-size: 24px;
    }
}

.nav__mobile_btn {
    height: 50px;
    width: 100%;
    color: inherit;
    font-size: 24px;
    background-color: $green;
    border-radius: 5px;
    margin-bottom: 16px;
}

.nav__mobile_checkbox {
    width: 100%;
    height: 50px;
    visibility: hidden;
}

.nav__mobile-list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;
    display: none;
    animation: close .5s forwards;
    max-height: 0;
}

.nav__mobile-list.open {
    animation: open .5s forwards;
    display: flex;
}

@keyframes open {
    0% {
        max-height: 0
    }
    100% {
        max-height: 500px
    }
}

@keyframes close {
    0% {
        max-height: 500px
    }
    100% {
        max-height: 0
    }
}

.basket__container {
    position: relative;
    cursor: pointer;
    display: flex !important;
}

.basket__container_label {
    height: 18px;
    width: 18px;
    background-color: #FC5468;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

// media

@media (max-width: 747px) {
    .header__bottom {
        padding-top: 50px;
        padding-bottom: 50px;
        .section__inner {
            flex-direction: column;
            gap: 20px;
            .basket__container {
                order: 1;
            }
            .header__nav {
                order: 2
            }
        }
    }
}

@media (max-width: 600px) { 
    .header__nav-list {
        display: none;
    }
    .header__nav {
        width: 100%;
    }
    .nav__mobile {
        display: block;
    }
 }
