@import '../_constants';
@import '../_mixins';

.workshops {
    padding-top: 144px;
    padding-bottom: 142px;
    background-color: $light-gray;

    .section__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.workshops_title {
    margin-bottom: 50px;
    color: $dark-blue;
}

.workshops_text {
    max-width: 644px;
    margin-bottom: 46px;
    color: $pale-blue;
}

.workshops_btn {
    margin-bottom: 80px;
    color: $dark-blue;
}

.workshops__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 48px;
}

.workshops__item {
    background-color: #fff;
    padding: 22px 24px;
}

.workshops__item_title {
    margin-bottom: 11px;
    color: $dark-blue;
}

.workshops__item_text {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 27px;
    color: $pale-blue;
}
